@import url('./lato.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Space+Mono&display=swap');

:root {
  --doc-height: 100%;

  --color-gray-100: #f8f9fa;
  --color-gray-200: #e9ecef;
  --color-gray-300: #dee2e6;
  --color-gray-400: #adb5bd;
  --color-gray-500: #7b838a;
  --color-gray-600: #495057;
  --color-gray-700: #353b40;
  --color-gray-800: #212529;

  --color-white: var(--color-gray-100);
  --color-black: var(--color-gray-800);

  --color-primary-100: #ede6ff;
  --color-primary-200: #d0c5e5;
  --color-primary-300: #b3a4cc;
  --color-primary-400: #9683b2;
  --color-primary-500: #786399;
  --color-primary-600: #5b427f;
  --color-primary-700: #3e2166;
  --color-primary-800: #21004c;

  --font-family-primary: Lato, sans-serif;
  --font-family-monospace: 'Space Mono', monospace;
}

html {
  font-size: 16px;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  height: var(--doc-height);
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--font-family-primary);
  font-weight: 300;
}

body {
  align-items: center;
  background-color: var(--color-gray-600);
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.4rem;
}

main {
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 2px 2px 8px var(--color-shadow-enabled);
  display: flex;
  flex-direction: column;
  height: max-content;
  max-height: 100%;
  max-width: 600px;
  overflow-y: auto;
  padding: 1.8rem;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 1.6rem;
  line-height: 1.4rem;
  text-align: left;
  user-select: none;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-height: 600px) {
  .container {
    overflow: hidden;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.counter-wrapper {
  width: 200px;
  margin: 4rem 0;
  position: relative;
}

.counter {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 50%;
  font-family: var(--font-family-monospace);
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.counter.over-one-minute {
  font-size: 2.6rem;
}

.radial-progress {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg);
  z-index: 0;
}

.radial-progress circle {
  transition-property: stroke-dashoffset;
  transition-timing-function: linear;
}

.toggle {
  position: relative;
  user-select: none;
}

.toggle input {
  display: none;
}

.toggle label {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.toggle .indicator {
  aspect-ratio: 2 / 1;
  background-color: var(--color-toggle-off);
  border-radius: 1rem;
  border: 4px solid var(--color-toggle-off);
  box-sizing: content-box;
  height: 1rem;
  margin-right: 0.8rem;
  position: relative;
}

.toggle .indicator::after {
  aspect-ratio: 1 / 1;
  background-color: var(--color-indicator);
  border-radius: 100%;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transition: transform 200ms ease-out;
}

.toggle input:not(:checked) ~ label {
  color: var(--color-toggle-off);
}

.toggle input:not(:checked) ~ label .indicator::after {
  /* background-color: var(--color-indica); */
  transform: translateX(0);
}

.toggle input:checked ~ label {
  color: var(--color-toggle-on);
}

.toggle input:checked ~ label .indicator {
  background-color: var(--color-toggle-on);
  border-color: var(--color-toggle-on);
}

.toggle input:checked ~ label .indicator::after {
  transform: translateX(100%);
}

.actions {
  display: flex;
  gap: 1rem
}

.button {
  background-color: var(--color-surface-enabled);
  border-radius: 12px;
  border: none;
  color: var(--button-text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 0.6rem 2rem;
  text-transform: uppercase;
  user-select: none;
  transition: background-color 200ms ease-out, box-shadow 200ms ease-out, transform 100ms ease-out;
  transform: scale(1);
}

.button.icon-button {
  padding: 0;
  aspect-ratio: 1 / 1;
  width: 1.6rem;
  font-size: 0.6rem;
  border-radius: 4px;
  flex-shrink: 0;
}

.button:not(:disabled) {
  cursor: pointer;
}

.button:disabled {
  background-color: var(--color-surface-disabled);
  color: var(--text-color-inverted-disabled);
  pointer-events: none;
}

.button:not(:disabled):hover {
  background-color: var(--color-surface-hover);
  box-shadow: 2px 2px 8px var(--color-shadow-hover);
}

.button:not(:disabled):active {
  transform: scale(0.95);
}

@media (max-width: 600px) {
  .actions {
    justify-content: stretch;
    width: 100%;
  }

  .actions .button:not(.icon-button) {
    flex-grow: 1;
  }
}

.timers-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  overflow-y: auto;
  width: 100%;
}

.timer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.timer span:first-of-type {
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  color: var(--text-color-inverted);
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  justify-content: flex-end;
  overflow: hidden;
  width: 1.4rem;
}

.timer span.interval {
  font-family: var(--font-family-monospace);
}

.timer button {
  margin-left: auto;
}

.modal-overlay {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.modal-overlay:not(.visible) {
  display: none;
}

.modal-overlay::before {
  background: var(--modal-overlay);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.6;
  position: absolute;
  right: 0;
  top: 0;
}

.modal-overlay .modal {
  background-color: var(--card-background);
  box-shadow: 2px 2px 8px var(--color-shadow-enabled);
  padding: 2rem;
  position: relative;
  z-index: 4;
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem
}

form input {
  background-color: var(--text-color-inverted);
  color: var(--text-color);
  font-size: 2.5rem;
  font-family: var(--font-family-monospace);
  min-width: 0;
  display: block;
  width: 8rem;
  box-sizing: content-box;
  padding: 1rem;
  text-align: center;
}
